body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  }
h1{
  font-size: 50px;
}
.go{
  color: orange;
}

section{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left: 10px;
}
.half-width img{
  width: 80%;
}
.link-button{
  text-decoration: none;
 background-image: linear-gradient(orange,tomato);
  padding: 10px 30px ;
  border-radius: 19px;
  font-size: 20px;
  font-weight: 700px;
  color: aliceblue;
}
#background{
background-image: url(eat-healthy-main/images/shapes/7.png);
padding-bottom: 5px 5px 5px 5px;
}
#background img{
  width: 60%;
  padding-top: 70px;
  padding-left: 90px;
}
p{
  font-size: medium;
}
